<html lang="en">
<head>
    <title>Экзопланетный калькулятор</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="header-content">
                <a href="/hello"><img src="/static/img/image.png" alt="home"></a>
                <h1>Экзопланетный калькулятор</h1>
            </div>
        </div>
    </header>
    <div class="gray-space">
        <div class="nav-buttons">
            <a href="/hello" class="nav-btn active">Звёзды</a>
            <a href="/cart" class="nav-btn unactive">Заявки</a>
        </div>
    </div>
    <div class="main-content">
        <h1 class="page-title">Звёзды</h1>
        <form class="search-form" action="/hello" method="GET">
            <input class="search-input" type="text" name="query" placeholder="Поиск звёзд" value="{{ .query }}" aria-label="Поиск звёзд">
            <button class="search-button" type="submit">Поиск</button>
        </form>

        <div class="stars-grid">
            {{ range .stars }}
            <div class="star-card">
                <div class="star-image">
                    <img src="{{ .ImagePath }}" alt="{{ .Title }}">
                </div>
                <div class="star-info">
                    <h3 class="star-title">{{ .Title }}</h3>
                    <p class="star-description">{{ .Description }}</p>
                    <a href="/star/{{ .ID }}" class="details-button">Подробнее</a>
                </div>
            </div>
            {{ end }}
        </div>
        <a href="/cart" class="cart-fab"><span class="cart-icon"></span><span class="cart-count">{{ .cartCount }}</span></a>
    </div>
</body>
</html>
