<html lang="en">
<head>
    <title>Экзопланетный калькулятор</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="header-content">
                <a href="/hello"><img src="/static/img/image.png" alt="home"></a>
                <h1>Экзопланетный калькулятор</h1>
            </div>
        </div>
    </header>
    <div class="gray-space">
        <div class="nav-buttons">
            <button class="nav-btn active">Звёзды</button>
            <button class="nav-btn unactive">Заявки</button>
        </div>
    </div>
    <form action="/hello" method="GET">
        <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
        <button type="submit">Найти</button>
    </form>

    <h2>
        {{ .time }}
    </h2>
    <ul>
        {{ range .stars }}
        <li>
            <a href="/star/{{ .ID }}"> {{ .Title }} </a>
        </li>
        {{ end }}
    </ul>
</body>
</html>